<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/musics.jsp</welcome-file>
    </welcome-file-list>
    <!-- ================ Соединение БД ================= -->
    <resource-ref>
        <description>MySQL Datasource</description>
        <res-ref-name>jdbc/shmusic</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <!-- ================ СЕРВЛЕТЫ ================= -->
    <!-- *** MusicsController *** -->
    <servlet>
        <servlet-name>MusicsController</servlet-name>
        <servlet-class>com.github.ivanovskij.controllers.servlets.MusicsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MusicsController</servlet-name>
        <url-pattern>/MusicsController</url-pattern>
    </servlet-mapping>
    
    <!-- ================ ФИЛЬТРЫ ================= -->
    <!-- *** InitialDataFilter *** -->
    
    
    <!-- ================ ШАБЛОНЫ ================= -->
    <jsp-config>
        <jsp-property-group>
            <display-name>header_footer</display-name>
            <url-pattern>/pages/*</url-pattern>
            <page-encoding>utf-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
