/* ========================== SETTINGS =================== */
* {
    margin: 0;
    padding: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
/*    background: url(../img/bg.png) repeat;*/
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#wrap {
    background: url(../img/bg-wrap.jpg) repeat;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1);
    height: 100%;
    height: auto !important;
    min-height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4px 4px;
}

div.clear {
    clear: both;
}


/* ========================== DIFFERENT FIX FOR DOM ELEMENT =================== */
/* scrollbar */
::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 5px;
	height: 0;
}
::-webkit-scrollbar-track {
	background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
	border: 2px solid #e2e2e2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
}
::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 4px;
	height: 0px;
}
::-webkit-scrollbar {
	width: 15px;
}


/* ========================== TOP-PANEL =================== */
div.top-panel {
    background: #D12A27;
    -webkit-box-shadow: 2px 0 26px rgba(0, 0, 0, 0.8),
        inset 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 0 26px rgba(0, 0, 0, 0.8),
        inset 0 0 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    width: 100%;
}

div.top-panel-wrap {
    min-height: 40px;
    margin: 0 auto;
    max-width: 994px;
}

div.lang img {
    float: left;
    margin-top: 14px;
    margin-right: 7px;
}

div.soc-icon {
    background: #D12A27;
    margin-left: 90px;
}
div.soc-icon img {
    float: left;
    margin-top: 12px;
    margin-right: 7px;
}

/********** user authorize ***********/
div.user {
    float: right;
    margin-top: 10px;
    width: 200px;
}

div.user .user-name {
    float: left;
}

div.user .user-name p {
    background: url(../img/user.jpg) no-repeat 0%;
    color: #fff;
    padding-left: 22px;
}

div.user .logout {
    color: #fff;
    float: right;
    text-decoration: underline;
}
div.user .logout:hover {
    text-decoration: none;
}

/**** user not authorize *****/
div.auth {
    float: right;
    margin-top: 9px;
    width: 380px;
}

.userlogin, .userpass {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
    border-radius: 3px;
    float: left;
    margin-right: 7px;
    outline: none;
    padding: 1px 5px;
    width: 140px;
}

.userpass {
    margin-right: 0;
}

.btn-login {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: #333333;
    float: right;
    height: 23px;
    margin-left: 3px;
    width: 70px;
}
.btn-login:hover {
    color: #D12A27;
    cursor: pointer;
}

/* ========================== HEADER =================== */
header {
    display: block;
    margin-bottom: 10px;
}

header .logo {
    background-position: center;
    background-color: #fff;
    border: 2px solid #e2e2e2;
    height: 140px;
    max-width: 100%;
}

/* ========================== SEARCH =================== */
div.search {
    margin-bottom: 10px;
    font-size: 0;
}

.search-text, .select-box, .button {
    border: 2px solid #e2e2e2;
    display: inline-block;
    font-size: 13px;
    outline: none;
    width: 100%;
}
.search-text:hover, .select-box:hover {
    border: 2px solid #CEEEFB;
}
.search-text:focus, .select-box:focus {
    border: 2px solid #CEEEFB;
}

.search-text {
    margin-right: 9px;
    padding: 10px 0 10px 10px;
    width: 68%;
}

.select-box {
    margin-right: 9px;
    padding: 9px 4px;
    width: 15%;
}

.button {
    background: #fff;
    color: #000;
    height: 39px;
    width: 15%;
}
.button:hover {
    background: #CEEEFB;
    color: #fff;
    cursor: pointer;
}

/* ========================== LETTER-SEARCH =================== */
div.letter-search {
    background: #fff;
    border: 2px solid #e2e2e2;
    margin-bottom: 10px;
}

div.letter-search .rus-letters {
    font-size: 0;
    text-align: center;
}

.rus-letters .current, .current a {
    display: none;
}
.rus-letters .current a {
    text-transform: initial;
}

div.letter-search li {
    display: inline-block;
    font-size: 15px;
    width: 3.333%;
}
div.letter-search li:hover {
    background: #CEEEFB;
}

div.letter-search li a {
    border-right: 1px solid #e2e2e2;
    color: #000;
    display: block;
    padding: 5px 0;
    text-transform: uppercase;
}

div.letter-search li:last-child a {
    border-right: none;
}

/* ========================== CONTENT =================== */
content {
    display: block;
}

/********* right-menu *******/
div.right-menu {
    background: #fff;
    border: 2px solid #e2e2e2;
    float: right;
    height: 820px;
    margin-left: 15px;
    width: 200px;
}

div.right-menu .search-by-genres {
    background: #e2e2e2;
    color: #333333;
    font-size: 19px;
    padding: 5px 5px;
    text-align: center;
}

div.right-menu li {
    background: #fff;
}
div.right-menu li:hover {
    background: #CEEEFB;
}

div.right-menu li a {
    display: block;
    color: #7F7F82;
    padding: 15px 10px;
    text-decoration: underline;
}
div.right-menu li a:hover {
    text-decoration: none;
}

/********* left-content, all-musics *******/
div.left-content {
    width: 100%; 
}

div.new-musics h2, div.new-albums h2 {
    background: #e2e2e2;
    color: #333333;
    font-size: 19px;
    padding: 5px 5px;
    text-align: center;
}
div.new-albums h2 {
    margin-bottom: 10px;
}

div.new-musics {
    background: #fff;
    border: 2px solid #e2e2e2;
    height: 400px;
    margin-bottom: 20px;
    max-width: 780px;
    overflow: auto;
}

div.new-musics li:hover {
    background: #CEEEFB;
}

div.new-musics li a {
    color: #7F7F82;
    display: block;
    padding: 10px 10px;
}

/********* left-content, all-albums *******/
div.new-albums {
    background: #fff;
    border: 2px solid #e2e2e2;
    height: 400px;
    max-width: 780px;
    overflow: auto;
}

div.new-albums li {
    border: 1px solid #e2e2e2;
    min-height: 158px;
    margin: 0 10px 10px 10px;
    padding: 5px 2px;
    word-wrap: break-word;
}
div.new-albums li:hover {
    background: #CEEEFB;
}
div.new-albums li:nth-child(even) {
    background: #F8F8F8;
}
div.new-albums li:nth-child(even):hover {
    background: #F0F0F0;
}

div.new-albums li img {
    float: left;
    margin-right: 10px;
}

div.new-albums li p {
    margin-bottom: 5px;
}


/* ========================== FOOTER =================== */
footer {
    background: #D12A27;
    -webkit-box-shadow: -2px 0 26px rgba(0, 0, 0, 0.8),
        inset 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: -2px 0 26px rgba(0, 0, 0, 0.8),
        inset 0 0 5px rgba(0, 0, 0, 0.8);
    display: block;
    height: 40px;
    margin-top: 20px;
    width: 100%;
}

div.footer-wrap {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

div.footer-wrap p {
    color: #fff;
    line-height: 40px;
}


/* ========================== ADAPTIVE =================== */
/* ПК, ноутбуки и т.д. */
@media screen and (max-width: 992px) {
    .search-text {
        width: 65%;
    }
    
    .select-box, .button {
        width: 16.3%;
    } 
}

/* планшеты */
@media screen and (max-width: 768px) {
    .top-panel {
        padding-bottom: 3px;
    }
    
    div.auth, div.user {
        clear: both;
        float: none;
        margin: 0;
        padding-top: 15px;
    }
    
    header .logo {
        height: 95px;
    }
    
    .search-text {
        width: 100%;
    }
    
    .select-box {
        margin-right: 0;
    }
    
    .select-box, .button {
        width: 50%;
    }
    
    div.letter-search li {
        width: 16.6%;
    }
    div.letter-search li:nth-child(6n) a {
        border-right: none;
    }
    
    div.right-menu {
        float: none;
        min-height: 65px;
        height: auto;
        margin: 0;
        width: 100%;
    }
    
    div.new-musics, div.new-albums {
        min-height: 65px;
        height: auto;
        margin: 0;
        width: 100%;
    }
}

/* смартфоны */
@media screen and (max-width: 480px) {
    header .logo {
        height: 60px;
    }
    
    div.auth {
        width: 100%;
    }
    
    .userlogin, .userpass, .btn-login {
        margin-bottom: 2px;
        width: 100%;
    }
    
    /* меню с выпадающими элементами */
    div.letter-search {
        border: none;
        min-height: 27px;
        position: relative;
    }
    div.letter-search .rus-letters {
        background: #fafafa;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    div.letter-search li {
        display: none;
        margin: 0;
        width: 100%;
    }
    div.letter-search .current {
        display: block;
    }
    div.letter-search li a {
        border-right: none;
        display: block;
        text-align: center;
    }
    /* при наведении на пункты меню */
    div.letter-search .rus-letters:hover li {
        display: block;
    }
}

